In [2]:
library(tidyverse)

Warning message:
"package 'ggplot2' was built under R version 4.3.3"
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

# Creating grade-like data
This simulated file contains grade data like one could get from the eLC gradebook. Each student is given a single row with each exam as a separate column.

In [177]:
data1 = data.frame(id= 1:100)
data2 = data.frame(id = 1:100)

set.seed(42)
data1 <- data1 %>%
        mutate(group="group1",
            exam1 = round(rnorm(100, 85, 5),0),
              exam2 = exam1 + round(rnorm(100, 5, 1),0),
               exam3 = round((exam1+ exam2)/2 + rnorm(100, 5, 1),0),
              across(c(exam1, exam2, exam3), ~ if_else(. >100, 100, .))

              )

set.seed(1785)
data2 <- data2 %>%
        mutate(group = "group2",
            exam1 = round(rnorm(100, 82, 4),0),
              exam2 = exam1 + round(rnorm(100, 4, 1),0),
               exam3 = round((exam1+ exam2)/2 + rnorm(100, 4, 1),0),
              across(c(exam1, exam2, exam3), ~ if_else(. >100, 100, .))
              )

data <- rbind.data.frame(data1,data2)

set.seed(1)
data <- data %>%
            slice_sample(n=nrow(data)) %>%
            mutate(id = 1000 + 1:nrow(data))

In [179]:
head(data, 10)

   id   group  exam1 exam2 exam3
1  1001 group1 90    95    97
2  1002 group2 77    80    81
3  1003 group2 80    84    86
4  1004 group2 89    93    95
5  1005 group1 89    94    98
6  1006 group1 84    88    91
7  1007 group2 83    87    89
8  1008 group1 87    92    93
9  1009 group1 79    84    87
10 1010 group1 83    87    90

In [181]:
write.csv(data, file="exam_data.csv", row.names=FALSE)

## With missing data

In [225]:
set.seed(123)

missing_rows <- sample(1:200, 5, replace=FALSE)
missing_columns1 <- sample(1:200, 5, replace=FALSE)
missing_columns2<- sample(1:200, 5, replace=FALSE)
missing_columns3 <- sample(1:200, 5, replace=FALSE)

data1m<-data %>% 
            mutate(
                    Row_number = row_number(),
                    across(c(exam1, exam2, exam3), ~if_else(Row_number %in% missing_rows, NA_real_, .)),
                    exam1= if_else(Row_number %in% missing_columns1, NA_real_, exam1),
                    exam2= if_else(Row_number %in% missing_columns2, NA_real_, exam2),
                    exam3= if_else(Row_number %in% missing_columns3, NA_real_, exam3)
                  ) %>%
            select(-Row_number)

In [227]:
write.csv(data1m, file="exam_data_missing.csv", row.names=FALSE)

# Test question data

In [142]:
data3 = data.frame(id= 100:199)
data4 = data.frame(id = 200:299)

In [170]:
set.seed(42)

data3 <- data3 %>%
                mutate(section = "morning",
                       Q1 = sample(c(0,1), size=100, replace=TRUE),
                       Q2 = sample(c(0,1), size=100, replace=TRUE),
                       Q3 = sample(c(0,1), size=100, replace=TRUE, prob = c(0.4,.6)),
                       Q4 = sample(c(0,1), size=100, replace=TRUE, prob = c(0.8,.2)),
        
                       )

write.csv(data3, file="morning_exam.csv", row.names=FALSE)

In [172]:
set.seed(1785)
data4 <- data4 %>%
                mutate(section= "afternoon",
                       Q1 = sample(c(0,1), size=100, replace=TRUE),
                       Q2 = sample(c(0,1), size=100, replace=TRUE, prob = c(0.36,.64)),
                       Q3 = sample(c("A","B", "C", "D"), size=100, replace=TRUE, prob = c(0.1, 0.5, 0.25, 0.15)),
                       Q4 = sample(c(0,1), size=100, replace=TRUE, prob = c(0.82,.18)),
        
                       )

write.csv(data4, file="afternoon_exam.csv", row.names=FALSE)

In [174]:
set.seed(1776)
demographics <- data.frame(id = 100:299) %>%
                    mutate(group1 = sample(c(0, 1), size = 200, replace=TRUE, prob=c(0.75, 0.25)),
                           group2 = sample(c(0, 1), size = 200, replace=TRUE)

                           )

write.csv(demographics, file="class_demographics.csv", row.names=FALSE)

# Exam grades part

In [230]:
exam_data <- read.csv("exam_data.csv")

In [236]:
exam_data %>%
    summarize(exam1_mean = mean(exam1),
              exam2_mean = mean(exam2),
              exam3_mean = mean(exam3)
              )

  exam1_mean exam2_mean exam3_mean
1 83.62      88.035     90.27

In [238]:
exam_data %>%
    rowwise() %>%
    mutate(avg_grade = mean(c(exam1, exam2, exam3)))

    id   group  exam1 exam2 exam3 avg_grade
1   1001 group1 90    95     97   94.00000
2   1002 group2 77    80     81   79.33333
3   1003 group2 80    84     86   83.33333
4   1004 group2 89    93     95   92.33333
5   1005 group1 89    94     98   93.66667
6   1006 group1 84    88     91   87.66667
7   1007 group2 83    87     89   86.33333
8   1008 group1 87    92     93   90.66667
9   1009 group1 79    84     87   83.33333
10  1010 group1 83    87     90   86.66667
11  1011 group2 77    80     81   79.33333
12  1012 group2 83    88     90   87.00000
13  1013 group1 80    87     89   85.33333
14  1014 group1 93    98    100   97.00000
15  1015 group1 88    91     95   91.33333
16  1016 group1 81    86     90   85.66667
17  1017 group1 81    86     90   85.66667
18  1018 group2 72    75     78   75.00000
19  1019 group2 83    85     88   85.33333
20  1020 group2 83    85     88   85.33333
21  1021 group1 82    88     90   86.66667
22  1022 group2 74    78     78   76.66667
23  1023 group2 78    82     84   81.33333
24  1024 group1 90    94     95   93.00000
25  1025 group2 83    87     89   86.33333
26  1026 group1 90    95     96   93.66667
27  1027 group1 84    89     92   88.33333
28  1028 group2 80    84     86   83.33333
29  1029 group1 89    95     97   93.66667
30  1030 group2 82    85     87   84.66667
⋮   ⋮    ⋮      ⋮     ⋮     ⋮     ⋮
171 1171 group1 96    100   100   98.66667
172 1172 group2 85     89    91   88.33333
173 1173 group1 81     87    89   85.66667
174 1174 group1 84     89    90   87.66667
175 1175 group1 92     98   100   96.66667
176 1176 group2 75     80    81   78.66667
177 1177 group2 91     93    96   93.33333
178 1178 group2 87     92    94   91.00000
179 1179 group1 88     93    95   92.00000
180 1180 group1 87     91    95   91.00000
181 1181 group1 85     90    94   89.66667
182 1182 group1 84     88    92   88.00000
183 1183 group1 85     92    94   90.33333
184 1184 group1 81     86    90   85.66667
185 1185 group1 81     84    88   84.33333
186 1186 group1 88     93    96   92.33333
187 1187 group1 82     87    91   86.66667
188 1188 group1 72     80    82   78.00000
189 1189 group1 85     90    91   88.66667
190 1190 group1 88     95    99   94.00000
191 1191 group1 86     90    91   89.00000
192 1192 group2 69     74    75   72.66667
193 1193 group1 88     93    96   92.33333
194 1194 group2 81     84    86   83.66667
195 1195 group2 81     84    87   84.00000
196 1196 group2 81     85    87   84.33333
197 1197 group2 83     86    89   86.00000
198 1198 group2 82     86    87   85.00000
199 1199 group2 79     84    85   82.66667
200 1200 group2 96     99   100   98.33333

In [240]:
exam_data %>%
    group_by(group) %>%
    summarize(exam1_mean = mean(exam1),
              exam2_mean = mean(exam2),
              exam3_mean = mean(exam3)
              )

  group  exam1_mean exam2_mean exam3_mean
1 group1 85.15      90.09      92.54
2 group2 82.09      85.98      88.00

In [242]:
exam_data %>%
    arrange(group)

    id   group  exam1 exam2 exam3
1   1001 group1 90    95     97
2   1005 group1 89    94     98
3   1006 group1 84    88     91
4   1008 group1 87    92     93
5   1009 group1 79    84     87
6   1010 group1 83    87     90
7   1013 group1 80    87     89
8   1014 group1 93    98    100
9   1015 group1 88    91     95
10  1016 group1 81    86     90
11  1017 group1 81    86     90
12  1021 group1 82    88     90
13  1024 group1 90    94     95
14  1026 group1 90    95     96
15  1027 group1 84    89     92
16  1029 group1 89    95     97
17  1031 group1 83    87     91
18  1036 group1 92    97     98
19  1037 group1 81    86     90
20  1039 group1 84    90     94
21  1042 group1 85    90     92
22  1043 group1 94    99    100
23  1046 group1 73    78     81
24  1049 group1 91    95     97
25  1052 group1 78    83     84
26  1054 group1 76    80     83
27  1061 group1 82    88     90
28  1062 group1 78    83     86
29  1065 group1 84    89     91
30  1069 group1 87    91     93
⋮   ⋮    ⋮      ⋮     ⋮     ⋮
171 1130 group2 86    90     93
172 1134 group2 85    89     91
173 1135 group2 82    86     90
174 1137 group2 79    83     86
175 1144 group2 83    88     90
176 1145 group2 78    83     84
177 1146 group2 80    84     88
178 1148 group2 84    87     88
179 1149 group2 85    89     89
180 1150 group2 88    92     95
181 1151 group2 72    77     78
182 1153 group2 87    90     92
183 1154 group2 85    89     90
184 1156 group2 80    84     84
185 1157 group2 81    85     88
186 1165 group2 79    84     84
187 1168 group2 86    89     93
188 1170 group2 78    82     84
189 1172 group2 85    89     91
190 1176 group2 75    80     81
191 1177 group2 91    93     96
192 1178 group2 87    92     94
193 1192 group2 69    74     75
194 1194 group2 81    84     86
195 1195 group2 81    84     87
196 1196 group2 81    85     87
197 1197 group2 83    86     89
198 1198 group2 82    86     87
199 1199 group2 79    84     85
200 1200 group2 96    99    100

In [246]:
exam_data %>%
    rowwise() %>%
    mutate(avg_grade = mean(c(exam1, exam2, exam3))) %>%
    filter(group == "group1") %>%
    select(avg_grade)

    avg_grade
1   94.00000
2   93.66667
3   87.66667
4   90.66667
5   83.33333
6   86.66667
7   85.33333
8   97.00000
9   91.33333
10  85.66667
11  85.66667
12  86.66667
13  93.00000
14  93.66667
15  88.33333
16  93.66667
17  87.00000
18  95.66667
19  85.66667
20  89.33333
21  89.00000
22  97.66667
23  77.33333
24  94.33333
25  81.66667
26  79.66667
27  86.66667
28  82.33333
29  88.00000
30  90.33333
⋮   ⋮
71  88.33333
72  95.66667
73  97.00000
74  93.33333
75  92.66667
76  90.00000
77  98.33333
78  84.66667
79  85.66667
80  91.66667
81  93.33333
82  90.33333
83  98.66667
84  85.66667
85  87.66667
86  96.66667
87  92.00000
88  91.00000
89  89.66667
90  88.00000
91  90.33333
92  85.66667
93  84.33333
94  92.33333
95  86.66667
96  78.00000
97  88.66667
98  94.00000
99  89.00000
100 92.33333

In [248]:
exam_data %>%
    rowwise() %>%
    mutate(avg_grade = mean(c(exam1, exam2, exam3))) %>%
    filter(group == "group1") %>%
    pull(avg_grade)

  [1] 94.00000 93.66667 87.66667 90.66667 83.33333 86.66667 85.33333 97.00000
  [9] 91.33333 85.66667 85.66667 86.66667 93.00000 93.66667 88.33333 93.66667
 [17] 87.00000 95.66667 85.66667 89.33333 89.00000 97.66667 77.33333 94.33333
 [25] 81.66667 79.66667 86.66667 82.33333 88.00000 90.33333 96.00000 91.66667
 [33] 87.66667 89.00000 92.33333 95.66667 96.00000 85.66667 90.66667 92.00000
 [41] 89.00000 96.00000 73.33333 87.00000 87.33333 88.66667 92.66667 83.00000
 [49] 97.33333 91.66667 92.66667 83.00000 91.33333 79.00000 87.33333 92.33333
 [57] 91.00000 84.33333 88.00000 89.33333 89.66667 91.33333 87.33333 96.00000
 [65] 92.33333 76.66667 79.66667 86.66667 82.66667 90.00000 88.33333 95.66667
 [73] 97.00000 93.33333 92.66667 90.00000 98.33333 84.66667 85.66667 91.66667
 [81] 93.33333 90.33333 98.66667 85.66667 87.66667 96.66667 92.00000 91.00000
 [89] 89.66667 88.00000 90.33333 85.66667 84.33333 92.33333 86.66667 78.00000
 [97] 88.66667 94.00000 89.00000 92.33333

# Question data

In [4]:
a_data <- read.csv("afternoon_exam.csv")
m_data <- read.csv("morning_exam.csv")

In [269]:
head(a_data)

  id  section   Q1 Q2 Q3 Q4
1 200 afternoon 0  0  B  0
2 201 afternoon 1  0  C  0
3 202 afternoon 1  1  B  0
4 203 afternoon 0  0  B  0
5 204 afternoon 0  1  D  0
6 205 afternoon 1  0  B  0

In [281]:
a_data %>%
    mutate(Q3 = recode(Q3, "A"=0, "B"=1, "C"=0, "D"=0))

a_data %>%
    mutate(Q3 = if_else(Q3=="B", 1, 0))

a_data %>%
    mutate(Q3= case_when(
        Q3=="A" ~ 0,
        Q3=="B" ~ 1,
        Q3=="C" ~ 0,
        Q3=="D" ~ 0
        )
           )

    id  section   Q1 Q2 Q3 Q4
1   200 afternoon 0  0  1  0
2   201 afternoon 1  0  0  0
3   202 afternoon 1  1  1  0
4   203 afternoon 0  0  1  0
5   204 afternoon 0  1  0  0
6   205 afternoon 1  0  1  0
7   206 afternoon 1  1  0  0
8   207 afternoon 0  1  1  0
9   208 afternoon 0  0  1  0
10  209 afternoon 0  1  0  0
11  210 afternoon 1  1  1  1
12  211 afternoon 0  0  1  0
13  212 afternoon 1  0  1  0
14  213 afternoon 0  0  0  0
15  214 afternoon 0  1  1  0
16  215 afternoon 0  1  0  0
17  216 afternoon 0  1  0  0
18  217 afternoon 0  0  0  0
19  218 afternoon 0  1  1  0
20  219 afternoon 0  1  0  0
21  220 afternoon 1  0  0  0
22  221 afternoon 0  1  1  0
23  222 afternoon 1  0  0  0
24  223 afternoon 0  0  0  0
25  224 afternoon 0  1  1  0
26  225 afternoon 0  0  0  0
27  226 afternoon 0  0  1  0
28  227 afternoon 1  0  0  1
29  228 afternoon 1  1  1  0
30  229 afternoon 0  1  0  1
⋮   ⋮   ⋮         ⋮  ⋮  ⋮  ⋮
71  270 afternoon 1  0  0  1
72  271 afternoon 1  0  0  1
73  272 afternoon 0  1  0  0
74  273 afternoon 1  1  1  1
75  274 afternoon 0  1  1  0
76  275 afternoon 0  1  0  1
77  276 afternoon 0  0  1  1
78  277 afternoon 0  1  1  0
79  278 afternoon 0  1  1  0
80  279 afternoon 1  1  0  0
81  280 afternoon 1  1  0  0
82  281 afternoon 0  0  1  0
83  282 afternoon 1  1  1  0
84  283 afternoon 1  1  0  0
85  284 afternoon 0  1  0  0
86  285 afternoon 0  1  1  0
87  286 afternoon 1  0  1  0
88  287 afternoon 0  1  1  0
89  288 afternoon 1  1  0  0
90  289 afternoon 0  1  0  0
91  290 afternoon 0  0  1  1
92  291 afternoon 0  1  1  0
93  292 afternoon 1  1  0  0
94  293 afternoon 0  1  1  1
95  294 afternoon 1  1  0  0
96  295 afternoon 0  0  1  0
97  296 afternoon 0  1  0  0
98  297 afternoon 0  1  1  0
99  298 afternoon 1  0  1  1
100 299 afternoon 1  1  0  1

    id  section   Q1 Q2 Q3 Q4
1   200 afternoon 0  0  1  0
2   201 afternoon 1  0  0  0
3   202 afternoon 1  1  1  0
4   203 afternoon 0  0  1  0
5   204 afternoon 0  1  0  0
6   205 afternoon 1  0  1  0
7   206 afternoon 1  1  0  0
8   207 afternoon 0  1  1  0
9   208 afternoon 0  0  1  0
10  209 afternoon 0  1  0  0
11  210 afternoon 1  1  1  1
12  211 afternoon 0  0  1  0
13  212 afternoon 1  0  1  0
14  213 afternoon 0  0  0  0
15  214 afternoon 0  1  1  0
16  215 afternoon 0  1  0  0
17  216 afternoon 0  1  0  0
18  217 afternoon 0  0  0  0
19  218 afternoon 0  1  1  0
20  219 afternoon 0  1  0  0
21  220 afternoon 1  0  0  0
22  221 afternoon 0  1  1  0
23  222 afternoon 1  0  0  0
24  223 afternoon 0  0  0  0
25  224 afternoon 0  1  1  0
26  225 afternoon 0  0  0  0
27  226 afternoon 0  0  1  0
28  227 afternoon 1  0  0  1
29  228 afternoon 1  1  1  0
30  229 afternoon 0  1  0  1
⋮   ⋮   ⋮         ⋮  ⋮  ⋮  ⋮
71  270 afternoon 1  0  0  1
72  271 afternoon 1  0  0  1
73  272 afternoon 0  1  0  0
74  273 afternoon 1  1  1  1
75  274 afternoon 0  1  1  0
76  275 afternoon 0  1  0  1
77  276 afternoon 0  0  1  1
78  277 afternoon 0  1  1  0
79  278 afternoon 0  1  1  0
80  279 afternoon 1  1  0  0
81  280 afternoon 1  1  0  0
82  281 afternoon 0  0  1  0
83  282 afternoon 1  1  1  0
84  283 afternoon 1  1  0  0
85  284 afternoon 0  1  0  0
86  285 afternoon 0  1  1  0
87  286 afternoon 1  0  1  0
88  287 afternoon 0  1  1  0
89  288 afternoon 1  1  0  0
90  289 afternoon 0  1  0  0
91  290 afternoon 0  0  1  1
92  291 afternoon 0  1  1  0
93  292 afternoon 1  1  0  0
94  293 afternoon 0  1  1  1
95  294 afternoon 1  1  0  0
96  295 afternoon 0  0  1  0
97  296 afternoon 0  1  0  0
98  297 afternoon 0  1  1  0
99  298 afternoon 1  0  1  1
100 299 afternoon 1  1  0  1

    id  section   Q1 Q2 Q3 Q4
1   200 afternoon 0  0  1  0
2   201 afternoon 1  0  0  0
3   202 afternoon 1  1  1  0
4   203 afternoon 0  0  1  0
5   204 afternoon 0  1  0  0
6   205 afternoon 1  0  1  0
7   206 afternoon 1  1  0  0
8   207 afternoon 0  1  1  0
9   208 afternoon 0  0  1  0
10  209 afternoon 0  1  0  0
11  210 afternoon 1  1  1  1
12  211 afternoon 0  0  1  0
13  212 afternoon 1  0  1  0
14  213 afternoon 0  0  0  0
15  214 afternoon 0  1  1  0
16  215 afternoon 0  1  0  0
17  216 afternoon 0  1  0  0
18  217 afternoon 0  0  0  0
19  218 afternoon 0  1  1  0
20  219 afternoon 0  1  0  0
21  220 afternoon 1  0  0  0
22  221 afternoon 0  1  1  0
23  222 afternoon 1  0  0  0
24  223 afternoon 0  0  0  0
25  224 afternoon 0  1  1  0
26  225 afternoon 0  0  0  0
27  226 afternoon 0  0  1  0
28  227 afternoon 1  0  0  1
29  228 afternoon 1  1  1  0
30  229 afternoon 0  1  0  1
⋮   ⋮   ⋮         ⋮  ⋮  ⋮  ⋮
71  270 afternoon 1  0  0  1
72  271 afternoon 1  0  0  1
73  272 afternoon 0  1  0  0
74  273 afternoon 1  1  1  1
75  274 afternoon 0  1  1  0
76  275 afternoon 0  1  0  1
77  276 afternoon 0  0  1  1
78  277 afternoon 0  1  1  0
79  278 afternoon 0  1  1  0
80  279 afternoon 1  1  0  0
81  280 afternoon 1  1  0  0
82  281 afternoon 0  0  1  0
83  282 afternoon 1  1  1  0
84  283 afternoon 1  1  0  0
85  284 afternoon 0  1  0  0
86  285 afternoon 0  1  1  0
87  286 afternoon 1  0  1  0
88  287 afternoon 0  1  1  0
89  288 afternoon 1  1  0  0
90  289 afternoon 0  1  0  0
91  290 afternoon 0  0  1  1
92  291 afternoon 0  1  1  0
93  292 afternoon 1  1  0  0
94  293 afternoon 0  1  1  1
95  294 afternoon 1  1  0  0
96  295 afternoon 0  0  1  0
97  296 afternoon 0  1  0  0
98  297 afternoon 0  1  1  0
99  298 afternoon 1  0  1  1
100 299 afternoon 1  1  0  1

In [24]:
a_data <-a_data %>%
    mutate(Q3 = recode(Q3, "A"=0, "B"=1, "C"=0, "D"=0))

In [ ]:
a_data2 <-a_data %>%
            pivot_longer(cols = c(Q1, Q2, Q3, Q4), names_to = 'question', values_to = 'correct')

m_data2 <- m_data %>%
            pivot_longer(cols = c(Q1, Q2, Q3, Q4), names_to = 'question', values_to = 'correct')

am_data2 <- rbind.data.frame(a_data2, m_data2)

am_data2 %>%
    mutate(
        question= case_when(
            section=="morning" | section=="afternoon" & question=="Q1" ~ "I1",
            section=="morning" | section=="afternoon" & question=="Q4" ~ "I4",
            section=="morning" & question=="Q2" | section=="afternoon" & question=="Q3" ~ "I2",
            section=="morning" & question=="Q3" | section=="afternoon" & question=="Q2" ~ "I3",            
            TRUE ~ NA_character_
            )
        )

In [51]:
m_data2 %>%
    pivot_wider(names_from = 'question', values_from = 'correct')

    id  section Q1 Q2 Q3 Q4
1   100 morning 0  1  0  0
2   101 morning 0  1  1  0
3   102 morning 0  0  0  0
4   103 morning 0  1  1  0
5   104 morning 1  0  1  1
6   105 morning 1  1  1  1
7   106 morning 1  1  0  0
8   107 morning 1  0  1  0
9   108 morning 0  1  1  0
10  109 morning 1  0  1  0
11  110 morning 0  1  1  0
12  111 morning 1  0  0  1
13  112 morning 0  1  1  0
14  113 morning 1  0  1  0
15  114 morning 0  1  1  0
16  115 morning 0  1  0  1
17  116 morning 1  0  1  0
18  117 morning 1  0  1  0
19  118 morning 1  0  1  1
20  119 morning 1  1  0  1
21  120 morning 0  0  1  0
22  121 morning 0  1  1  0
23  122 morning 0  1  1  0
24  123 morning 0  1  0  0
25  124 morning 0  1  1  0
26  125 morning 1  0  0  1
27  126 morning 0  0  1  0
28  127 morning 0  1  1  1
29  128 morning 0  0  1  0
30  129 morning 0  0  1  0
⋮   ⋮   ⋮       ⋮  ⋮  ⋮  ⋮
71  170 morning 1  1  1  0
72  171 morning 0  0  0  0
73  172 morning 1  1  1  0
74  173 morning 1  1  1  0
75  174 morning 1  0  0  0
76  175 morning 1  1  1  1
77  176 morning 0  0  1  0
78  177 morning 0  1  1  0
79  178 morning 0  1  1  0
80  179 morning 0  1  1  1
81  180 morning 1  1  1  0
82  181 morning 0  1  1  0
83  182 morning 1  1  1  0
84  183 morning 0  0  0  0
85  184 morning 0  1  1  0
86  185 morning 1  1  1  1
87  186 morning 1  1  1  0
88  187 morning 0  0  1  1
89  188 morning 0  1  1  0
90  189 morning 0  1  1  0
91  190 morning 0  0  0  1
92  191 morning 1  1  0  0
93  192 morning 0  1  1  0
94  193 morning 1  1  1  0
95  194 morning 1  1  1  0
96  195 morning 1  1  1  0
97  196 morning 0  0  0  1
98  197 morning 1  0  0  1
99  198 morning 1  1  1  0
100 199 morning 1  1  1  0